flows (9).json
[{"id":"9d57cf3e.9aa51","type":"tab","label":"DB-SQLite","disabled":false,"info":""},{"id":"6bc3f759.2c5bb8","type":"sqlite","z":"9d57cf3e.9aa51","mydb":"f9dc56cd.90c5f8","sqlquery":"msg.topic","sql":"","name":"IoTTest","x":440,"y":240,"wires":[["75be10c3.61ac4"]]},{"id":"46e07648.f4bf68","type":"inject","z":"9d57cf3e.9aa51","name":"CREATE TABLE","topic":"CREATE TABLE TestTable ( id INTEGER PRIMARY KEY AUTOINCREMENT ,  temp INTEGER  ,  time  TEXT ,hour   INTEGER ,min  INTEGER)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":80,"wires":[["6bc3f759.2c5bb8"]]},{"id":"8d8d7d41.d0482","type":"inject","z":"9d57cf3e.9aa51","name":"INSERT","topic":"INSERT INTO TestTable(temp,time, hour , min) values(21,\"123\", 8, 31)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":140,"wires":[["6bc3f759.2c5bb8"]]},{"id":"57a3433a.44b7fc","type":"inject","z":"9d57cf3e.9aa51","name":"SELECT temp","topic":"SELECT temp AS value FROM TestTable","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":156.6666717529297,"y":331.11109161376953,"wires":[["6bc3f759.2c5bb8"]]},{"id":"aefa62e9.f968c","type":"inject","z":"9d57cf3e.9aa51","name":"SELECT ALL","topic":"SELECT* FROM TestTable","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":157.77777862548828,"y":186.66666221618652,"wires":[["6bc3f759.2c5bb8"]]},{"id":"8393d8f6.117768","type":"inject","z":"9d57cf3e.9aa51","name":"SELECT Last massage","topic":"SELECT * FROM TestTable ORDER BY id DESC LIMIT 2;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":166.6666717529297,"y":379.9999885559082,"wires":[["6bc3f759.2c5bb8"]]},{"id":"ff4081a4.5319d","type":"inject","z":"9d57cf3e.9aa51","name":"DELETE","topic":"DELETE FROM TestTable","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":162.22220611572266,"y":266.66666984558105,"wires":[["6bc3f759.2c5bb8"]]},{"id":"56ac1e55.a8468","type":"inject","z":"9d57cf3e.9aa51","name":"Average","topic":"SELECT  avg(temp) FROM  TestTable","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":560,"wires":[["e9d36456.a6f1c8"]]},{"id":"96d5187e.dcd1b8","type":"template","z":"9d57cf3e.9aa51","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO TestTable (hour,min,temp) VALUES  (  {{myhour}},{{myminute}}, {{payload}}  )","output":"str","x":420,"y":840,"wires":[["301f63e1.9bec3c"]]},{"id":"301f63e1.9bec3c","type":"change","z":"9d57cf3e.9aa51","name":"pyload to topic","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":960,"wires":[["4dc77cca.dfa8e4"]]},{"id":"49ba6fdf.96d3e","type":"random","z":"9d57cf3e.9aa51","name":"sensor","low":"20","high":"35","inte":"true","property":"payload","x":210,"y":960,"wires":[["beb6487d.af7758"]]},{"id":"5d6fc04a.3871a","type":"inject","z":"9d57cf3e.9aa51","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1060,"wires":[["49ba6fdf.96d3e"]]},{"id":"75be10c3.61ac4","type":"debug","z":"9d57cf3e.9aa51","name":"D1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":240,"wires":[]},{"id":"4dc77cca.dfa8e4","type":"sqlite","z":"9d57cf3e.9aa51","mydb":"f9dc56cd.90c5f8","sqlquery":"msg.topic","sql":"","name":"IoTTest","x":680,"y":860,"wires":[["ea2be9fb.cfe398"]]},{"id":"8f5c1b6e.bb7a78","type":"inject","z":"9d57cf3e.9aa51","name":"INSERT TIME","topic":"INSERT INTO TestTable (time) VALUES  (   datetime('now', 'localtime')  )","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":440,"wires":[["6bc3f759.2c5bb8"]]},{"id":"e9d36456.a6f1c8","type":"sqlite","z":"9d57cf3e.9aa51","mydb":"f9dc56cd.90c5f8","sqlquery":"msg.topic","sql":"","name":"IoTTest","x":460,"y":600,"wires":[["69976cd5.8f27c4","89d336ec.ffbac8","5bb76aa9.d4cd64"]]},{"id":"4a923858.f055f8","type":"inject","z":"9d57cf3e.9aa51","name":"Max","topic":"SELECT  MAX(temp) FROM TestTable","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":620,"wires":[["e9d36456.a6f1c8"]]},{"id":"2941b314.d83b9c","type":"inject","z":"9d57cf3e.9aa51","name":"Min","topic":"SELECT   min(temp) FROM  TestTable","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":680,"wires":[["e9d36456.a6f1c8"]]},{"id":"a940ad95.7cedc","type":"inject","z":"9d57cf3e.9aa51","name":"Sum","topic":"SELECT   SUM(temp) FROM TestTable","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":740,"wires":[["e9d36456.a6f1c8"]]},{"id":"beb6487d.af7758","type":"simpletime","z":"9d57cf3e.9aa51","name":"","x":230,"y":860,"wires":[["96d5187e.dcd1b8"]]},{"id":"ea2be9fb.cfe398","type":"debug","z":"9d57cf3e.9aa51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":920,"wires":[]},{"id":"e9c0db7a.d0e038","type":"comment","z":"9d57cf3e.9aa51","name":"tutorial","info":"www.sqlitetutorial.net\nwww.sqlite.org","x":170,"y":40,"wires":[]},{"id":"69976cd5.8f27c4","type":"debug","z":"9d57cf3e.9aa51","name":"D2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":699.6349487304688,"y":610.3491363525391,"wires":[]},{"id":"89d336ec.ffbac8","type":"change","z":"9d57cf3e.9aa51","name":"Change-Sum","rules":[{"t":"move","p":"payload[0].SUM(temp)","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":680,"wires":[["a6b9d45c.45afd8"]]},{"id":"a6b9d45c.45afd8","type":"debug","z":"9d57cf3e.9aa51","name":"D3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":700,"wires":[]},{"id":"6857f367.eca50c","type":"ui_chart","z":"9d57cf3e.9aa51","name":"","group":"dc1d868a.ae8fc8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":780,"wires":[[]]},{"id":"5bb76aa9.d4cd64","type":"change","z":"9d57cf3e.9aa51","name":"Change-Avg","rules":[{"t":"move","p":"payload[0].avg(temp)","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":780,"wires":[["6857f367.eca50c","67b5331d.4de1ec"]]},{"id":"67b5331d.4de1ec","type":"debug","z":"9d57cf3e.9aa51","name":"D4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":740,"wires":[]},{"id":"f9dc56cd.90c5f8","type":"sqlitedb","z":"","db":"Testbd","mode":"RWC"},{"id":"dc1d868a.ae8fc8","type":"ui_group","z":"","name":"Sum-Avg","tab":"27567c98.20cba4","order":1,"disp":true,"width":"6","collapse":false},{"id":"27567c98.20cba4","type":"ui_tab","z":"","name":"db-ui","icon":"dashboard","order":8,"disabled":false,"hidden":false}]