flows (8).json
[{"id":"f3f2301a.361c4","type":"tab","label":"Example3- monitoring-chart","disabled":false,"info":""},{"id":"e749e2e0.5f29f","type":"ui_chart","z":"f3f2301a.361c4","name":"","group":"b3b117c4.446458","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":120,"wires":[[]]},{"id":"7ef23ad1.032c24","type":"function","z":"f3f2301a.361c4","name":"Fill Single Chart Array","func":"var chart = [{\n    \"series\":[\"A\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},\n             {\"x\":1504029633514,\"y\":8},\n             {\"x\":1504029634400,\"y\":3}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["e749e2e0.5f29f","74fe99db.151bb8"]]},{"id":"74fe99db.151bb8","type":"debug","z":"f3f2301a.361c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":160,"wires":[]},{"id":"be397368.ad718","type":"comment","z":"f3f2301a.361c4","name":"Sample Dashboard for various Chart types","info":"","x":210,"y":60,"wires":[]},{"id":"fe8c8668.978698","type":"ui_chart","z":"f3f2301a.361c4","name":"","group":"b3b117c4.446458","order":0,"width":0,"height":0,"label":"Multiple Line Plots","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":220,"wires":[[]]},{"id":"55fb402b.472f5","type":"function","z":"f3f2301a.361c4","name":"Fill Multiple Line Chart Array","func":"var chart = [  {\"series\":[\"A\",\"B\",\"C\"],\n                \"data\":[\n                    [{\"x\":1504029632890,\"y\":5},\n                     {\"x\":1504029636001,\"y\":4},\n                     {\"x\":1504029638656,\"y\":2}],\n                    [{\"x\":1504029633514,\"y\":6},\n                     {\"x\":1504029636622,\"y\":7},\n                     {\"x\":1504029639539,\"y\":6}],\n                    [{\"x\":1504029634400,\"y\":7},\n                     {\"x\":1504029637959,\"y\":9},\n                     {\"x\":1504029640317,\"y\":7}]\n                ],\n                \"labels\":[\"\"]}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["fe8c8668.978698","a4881c20.5a97c"]]},{"id":"a4881c20.5a97c","type":"debug","z":"f3f2301a.361c4","name":"","active":true,"console":"false","complete":"false","x":570,"y":260,"wires":[]},{"id":"861cd4ef.59c3b8","type":"ui_chart","z":"f3f2301a.361c4","name":"","group":"a68a82e1.becdd","order":0,"width":0,"height":0,"label":"Vertical Bar Chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":540,"wires":[[]]},{"id":"245b1a0e.7b2c06","type":"inject","z":"f3f2301a.361c4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":120,"wires":[["7ef23ad1.032c24"]]},{"id":"3b56fd32.e76ef2","type":"inject","z":"f3f2301a.361c4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":110,"y":220,"wires":[["55fb402b.472f5"]]},{"id":"d202fb9a.4c2358","type":"inject","z":"f3f2301a.361c4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":110,"y":540,"wires":[["70035133.3e42b"]]},{"id":"70035133.3e42b","type":"function","z":"f3f2301a.361c4","name":"Fill Bar Chart Array","func":"var bar={};\nbar.labels = [\"Q1 16\",\"Q2 16\",\"Q3 16\",\"Q4 16\",\"Q1 17\",\"Q2 17\",\"Q3 17\"];\nbar.series = ['Sales A', 'Sales B', 'Sales C', 'Sales D'];\n// An array of 4 arrays of 7 elements\nbar.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[bar]};","outputs":1,"noerr":0,"x":290,"y":540,"wires":[["861cd4ef.59c3b8","f6748ca8.f479a","8c6cbc14.a9d85"]]},{"id":"f6748ca8.f479a","type":"debug","z":"f3f2301a.361c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0].data[0]","x":600,"y":620,"wires":[]},{"id":"8c6cbc14.a9d85","type":"ui_chart","z":"f3f2301a.361c4","name":"","group":"a68a82e1.becdd","order":0,"width":0,"height":0,"label":"Horizontal Bar Chart","chartType":"horizontalBar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":580,"wires":[[]]},{"id":"c0d1eb75.d2fbd8","type":"ui_chart","z":"f3f2301a.361c4","name":"","group":"66904ce7.f11694","order":1,"width":0,"height":0,"label":"Pie Chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":560,"y":320,"wires":[[],[]]},{"id":"ae674bc6.060e48","type":"function","z":"f3f2301a.361c4","name":"Fill Pie Chart Array","func":"var pie={};\npie.labels = [\"Geo1\",\"Geo2\",\"Geo3\",\"Geo4\",\"Geo5\"];\npie.series = ['Sales A', 'Sales B', 'Sales C', 'Sales D'];\npie.data =   [ [16, 27, 42, 65, 89] ];\n//return {payload:[pie]};\n\nvar pie={ \"labels\" : [\"Geo1\",\"Geo2\",\"Geo3\",\"Geo4\",\"Geo5\"],\n          \"series\" : ['Sales A', 'Sales B', 'Sales C', 'Sales D'],\n          \"data\"   : [ [16, 27, 42, 65, 89] ]\n        };\nmsg.payload = [pie];\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":320,"wires":[["c0d1eb75.d2fbd8","63dd7560.36b63c","95a614c2.7d0028","4db9efe1.d4521","288ea3be.c2e3cc"]]},{"id":"977248f7.322958","type":"inject","z":"f3f2301a.361c4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":110,"y":320,"wires":[["ae674bc6.060e48"]]},{"id":"63dd7560.36b63c","type":"debug","z":"f3f2301a.361c4","name":"","active":true,"console":"false","complete":"false","x":570,"y":480,"wires":[]},{"id":"95a614c2.7d0028","type":"ui_chart","z":"f3f2301a.361c4","name":"","group":"66904ce7.f11694","order":3,"width":0,"height":0,"label":"Polar Area Chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":580,"y":400,"wires":[[],[]]},{"id":"288ea3be.c2e3cc","type":"ui_chart","z":"f3f2301a.361c4","name":"","group":"66904ce7.f11694","order":4,"width":0,"height":0,"label":"Radar Chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":570,"y":440,"wires":[[],[]]},{"id":"4db9efe1.d4521","type":"ui_chart","z":"f3f2301a.361c4","name":"","group":"66904ce7.f11694","order":2,"width":0,"height":0,"label":"Donut Chart","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"40","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":570,"y":360,"wires":[[],[]]},{"id":"b3b117c4.446458","type":"ui_group","z":"","name":"Line Chart Examples","tab":"f1fadc63.ceea","disp":true,"width":"8"},{"id":"a68a82e1.becdd","type":"ui_group","z":"","name":"Bar Chart Examples","tab":"f1fadc63.ceea","order":3,"disp":true,"width":"8"},{"id":"66904ce7.f11694","type":"ui_group","z":"","name":"Pie Chart Examples","tab":"f1fadc63.ceea","order":2,"disp":true,"width":"6"},{"id":"f1fadc63.ceea","type":"ui_tab","z":"","name":"Chart Examples","icon":"dashboard","order":3}]