flows (2).json
[{"id":"9ae8e01c.cd90a","type":"tab","label":"Flow-Variables","disabled":false,"info":""},{"id":"f1b1b91a.49af08","type":"inject","z":"9ae8e01c.cd90a","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["bf5ada99.bcb4e8"]]},{"id":"bf5ada99.bcb4e8","type":"function","z":"9ae8e01c.cd90a","name":"Flow set","func":"flow.set('x',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["eadb864.b1c3b78"]]},{"id":"3e4f1bdb.429e14","type":"function","z":"9ae8e01c.cd90a","name":"Flow get","func":"msg.payload=flow.get('x')\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["dec03c70.a10fb"]]},{"id":"10284a7.2fcdeb6","type":"inject","z":"9ae8e01c.cd90a","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":240,"wires":[["3e4f1bdb.429e14"]]},{"id":"eadb864.b1c3b78","type":"debug","z":"9ae8e01c.cd90a","name":"set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":120,"wires":[]},{"id":"dec03c70.a10fb","type":"debug","z":"9ae8e01c.cd90a","name":"get","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":240,"wires":[]},{"id":"ec6df6df.948c48","type":"inject","z":"9ae8e01c.cd90a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":380,"wires":[["98dee5df.03e948"]]},{"id":"98dee5df.03e948","type":"function","z":"9ae8e01c.cd90a","name":"Multiple-Flow Values","func":"flow.set([\"hum\",\"temp\",\"lable\"],[24,56,\"lable1\"])\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":380,"wires":[["4673768b.5b48a8"]]},{"id":"4673768b.5b48a8","type":"debug","z":"9ae8e01c.cd90a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":380,"wires":[]},{"id":"30eef2b6.91ee4e","type":"function","z":"9ae8e01c.cd90a","name":"","func":"msg.temp=flow.get('hum')\nmsg.hum=flow.get('temp')\nmsg.lable=flow.get('lable')\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":460,"wires":[["4673768b.5b48a8"]]},{"id":"e11129cf.fa2998","type":"inject","z":"9ae8e01c.cd90a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":460,"wires":[["30eef2b6.91ee4e"]]}]