flows (1).json
[{"id":"b0a2ac11.0e4e2","type":"tab","label":"Test-Flow1","disabled":false,"info":""},{"id":"4aaef9a1.e39fd8","type":"inject","z":"b0a2ac11.0e4e2","name":"","topic":"","payload":"dgdgtdg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["aaf4adcc.18362"]]},{"id":"aaf4adcc.18362","type":"function","z":"b0a2ac11.0e4e2","name":"Multi output","func":"node.status(\"start\")\nmsg1={key1:\"value1\",key2:\"value2\"}\nnode.warn(\"warning\")\nmsg2={key3:\"value3\",key4:\"value4\"}\nnode.error(\"Error!!!\")\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":310,"y":100,"wires":[["4fd4b68a.953838"],["55ddfe8c.2c782"]]},{"id":"4fd4b68a.953838","type":"debug","z":"b0a2ac11.0e4e2","name":"D1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":80,"wires":[]},{"id":"55ddfe8c.2c782","type":"debug","z":"b0a2ac11.0e4e2","name":"D2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":180,"wires":[]},{"id":"68d4732a.1e0a5c","type":"inject","z":"b0a2ac11.0e4e2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":280,"wires":[["5231d1f6.0d542"]]},{"id":"5231d1f6.0d542","type":"function","z":"b0a2ac11.0e4e2","name":"return array","func":"msg={payload:[{key1:\"value1\"},{key2:\"value2\"}]}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":280,"wires":[["8dcbd728.8ea7b8"]]},{"id":"8dcbd728.8ea7b8","type":"debug","z":"b0a2ac11.0e4e2","name":"return array","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","targetType":"msg","x":490,"y":280,"wires":[]},{"id":"12d9fe6e.c8a522","type":"json","z":"b0a2ac11.0e4e2","name":"(5,6).JSON Node","property":"payload","action":"","pretty":false,"x":330,"y":420,"wires":[["4fd4b68a.953838"]]},{"id":"4ba8d69a.b4d998","type":"inject","z":"b0a2ac11.0e4e2","name":"","topic":"","payload":"{\"key1\":\"value1\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":420,"wires":[["12d9fe6e.c8a522","e491607f.b8999"]]},{"id":"e491607f.b8999","type":"debug","z":"b0a2ac11.0e4e2","name":"jsonstring","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":360,"wires":[]},{"id":"7fa1c01.115774","type":"inject","z":"b0a2ac11.0e4e2","name":"Inject1","topic":"Msg","payload":"Hello World!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["ee5d2277.6c265"]]},{"id":"ee5d2277.6c265","type":"debug","z":"b0a2ac11.0e4e2","name":"Debug2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":320,"y":40,"wires":[]}]