flows (4).json
[{"id":"a8c2d29b.d3d05","type":"tab","label":"Http-Req-Resp","disabled":false,"info":""},{"id":"84409df7.a0d82","type":"template","z":"a8c2d29b.d3d05","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<HTML>\n<HEAD>\n<link rel='stylesheet' type='text/css' href='http://randomnerdtutorials.com/ethernetcss.css' />\n<TITLE>My Tiny Web Server</TITLE>\n</HEAD>\n<BODY>\n<H1>freeterminal.ir Tutorials Project</H1>\n<hr />\n<br />\n<H2>ESP8266</H2>\n<br />\n<a href=/?button1on>Turn On LED</a>\n<a href=/?button1off>Turn Off LED</a><br />\n<br />\n<br />\n<p>Created by freeterminal.ir. Visit http://freeterminal.ir for more projects!</p>\n<br />\n</BODY>\n</HTML>","output":"str","x":320,"y":120,"wires":[["dea07221.aa5fb"]]},{"id":"767a29f4.640698","type":"http in","z":"a8c2d29b.d3d05","name":"","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":120,"y":120,"wires":[["84409df7.a0d82"]]},{"id":"dea07221.aa5fb","type":"http response","z":"a8c2d29b.d3d05","name":"","statusCode":"","headers":{},"x":550,"y":120,"wires":[]},{"id":"aea500fe.7b568","type":"inject","z":"a8c2d29b.d3d05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["244d67f.67f6598"]]},{"id":"93d4d582.d9b118","type":"debug","z":"a8c2d29b.d3d05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":220,"wires":[]},{"id":"244d67f.67f6598","type":"delay","z":"a8c2d29b.d3d05","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":220,"wires":[["93d4d582.d9b118"]]}]