flows (6).json
[{"id":"ec1d545.aa6f4a8","type":"tab","label":"Files","disabled":false,"info":""},{"id":"b373b29b.5f9be","type":"file","z":"ec1d545.aa6f4a8","name":"","filename":"TestFile1","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":780,"y":160,"wires":[[]]},{"id":"2dd581ef.97888e","type":"inject","z":"ec1d545.aa6f4a8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["578b865b.f838f8"]]},{"id":"578b865b.f838f8","type":"random","z":"ec1d545.aa6f4a8","name":"","low":"1","high":"10","inte":"true","property":"payload","x":260,"y":160,"wires":[["c5966503.86b4b8"]]},{"id":"c5966503.86b4b8","type":"simpletime","z":"ec1d545.aa6f4a8","name":"","x":430,"y":160,"wires":[["e3f2cfb9.ad37b"]]},{"id":"e3f2cfb9.ad37b","type":"template","z":"ec1d545.aa6f4a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"At Time {{mytime}} the temperature is: {{payload}}","output":"str","x":600,"y":160,"wires":[["b373b29b.5f9be"]]},{"id":"1ad14826.ffb0b8","type":"file in","z":"ec1d545.aa6f4a8","name":"","filename":"TestFile1","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":300,"wires":[["77cb5b0d.1e7164"]]},{"id":"77cb5b0d.1e7164","type":"debug","z":"ec1d545.aa6f4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":300,"wires":[]},{"id":"95adc412.d99c28","type":"inject","z":"ec1d545.aa6f4a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["1ad14826.ffb0b8"]]}]